body {
  margin: 0px;
}

canvas {
  margin: 0px;
  display: block; /* Prevents the canvas from having 5 pixels of space below it. */
}

#score1, #gameover {
    margin: 0px;
    position: absolute;
    font-size: 70px;
    
}

#score1 {
    left: 50%;
    top: 10px;
    color: white;
}

#gameover {
    top: 45%;
    left: 37%;
    color: red;
}